<!DOCTYPE html>
{% load static card_database_tags %}
{% block html %}
    <html lang="en" {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}class="mobile"{% endif %}>
        <head>
            {% block head %}
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>{% block title %}Force of Wind{% block subtitle %} - Database{% endblock %}{% endblock %}</title>
                {% block favicon %}<link rel="shortcut icon" type="image/png" href="{% static 'img/wind.png' %}"/>{% endblock %}
                {% block js %}
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                            crossorigin="anonymous"></script>
                {% endblock %}
                {% block css %}
                    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
                    <link rel="stylesheet" href="{% static 'css/bootstrap/mdb.css' %}">
                    <link rel="stylesheet" href="{% static 'css/base.css' %}">
                {% endblock %}

            {% endblock %}
        </head>
        <body>
        {% block header %}
            <div id="header">
                <div class="header-content">
                    <div class="site-header-logo">
                        <a href="{% url 'cardDatabase-search' %}">
                            <div id="site-title">{% block header-title %}Force of Wind{% endblock %}</div>
                            <img id="site-icon" src="{% static 'img/wind.png'%}">
                        </a>
                    </div>
                    <div id="social-media" class="fow-dropdown">
                        <button class="fow-dropbtn"><img class="discord" src="{% static 'img/discord.png' %}"></button>
                        <div class="fow-dropdown-content">
                            <a href="#">Force of Wind Tools</a>
                            <a href="#">Force of Will TCG</a>
                        </div>
                    </div>
                    {% if not request.user.is_authenticated %}
                        <a href="{% url 'login' %}?next={{ request.path }}">
                            <div id="login">Login</div>
                        </a>
                    {% else %}
                        <div id="user-options" class="fow-dropdown">
                            <button class="fow-dropbtn"><i class="arrow down"></i></button>
                            <div class="fow-dropdown-content">
                                <a href="{% url 'cardDatabase-search' %}">Card Database</a>
                                <a href="{% url 'cardDatabase-user-decklists' %}">My Decklists</a>
                                <a href="{% url 'cardDatabase-user-preferences' %}">Preferences</a>
                                <a href="{% url 'cardDatabase-logout' %}?next={{ request.path }}">Logout</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endblock %}
        <div id="base-body">
            {% block body %}
            {% endblock %}
        </div>
        </body>
    </html>
{% endblock %}