{% load static card_database_tags %}
<div class="card-container">
    <div class="card-left-half">
        <img class="card-img" src="{{ card.card_image.url }}">
    </div>
    <div class="card-right-half">
        <div class="card-text-info">
            <div class="card-text-info-title">
                Name:
            </div>
            <div class="card-text-info-text">
                {{ card.name }}
            </div>
        </div>
        <div class="card-text-info">
            <div class="card-text-info-title">
                Type(s):
            </div>
            <div class="card-text-info-text">
                {% for card_type in card.types.all %}
                    <a href='/search?card_type={{ card_type.name }}&form_type=advanced-form'>{{ card_type.name }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </div>
        </div>
        {% if not card.cost == None %}
            <div class="card-text-info">
                <div class="card-text-info-title">
                    Cost:
                </div>
                <div class="card-text-info-text">
                    {%  format_cost_text card.cost %}
                </div>
            </div>
        {% endif %}
        {% if card.colours.all %}
            <div class="card-text-info">
                <div class="card-text-info-title">
                    Attribute(s):
                </div>
                <div class="card-text-info-text">
                    {% for colour in card.colours.all %}
                        <a href='/search?colours={{ colour.db_representation }}&form_type=advanced-form'>{% format_attribute_text colour.db_representation %}</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if card.races.all %}
            <div class="card-text-info">
                <div class="card-text-info-title">
                    Race/Trait(s):
                </div>
                <div class="card-text-info-text">
                    {% for race in card.races.all %}
                        <a href='/search?race={{ race.name }}&form_type=advanced-form'>{{ race.name }}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if not card.ATK == None %}
            <div class="card-text-info">
                <div class="card-text-info-title">
                    ATK:
                </div>
                <div class="card-text-info-text">
                    {{ card.ATK }}
                </div>
            </div>
        {% endif %}
        {% if not card.DEF == None %}
            <div class="card-text-info">
                <div class="card-text-info-title">
                    DEF:
                </div>
                <div class="card-text-info-text">
                    {{ card.DEF }}
                </div>
            </div>
        {% endif %}
        {% if not card.divinity == None %}
            <div class="card-text-info">
                <div class="card-text-info-title">
                    Divinity:
                </div>
                <div class="card-text-info-text">
                    {{ card.divinity }}
                </div>
            </div>
        {% endif %}
        {% if not card.will_power == None %}
            <div class="card-text-info">
                <div class="card-text-info-title">
                    Will Power:
                </div>
                <div class="card-text-info-text">
                    {{ card.will_power }}
                </div>
            </div>
        {% endif %}
        {% if card.ability_texts.all %}
            <div class="card-text-info ability-text">
                <div class="card-text-info-title">
                    Text:
                </div>
                {% order_card_abilities card as abilities %}
                {% aggregate_abilties_by_style_in_order abilities as aggregated_abilities %}
                {% for aggregated_ability in aggregated_abilities %}
                    {% if aggregated_ability.style.id != 'normal' %}
                        <aside class="aggregated-ability {{aggregated_ability.style.id}}">
                            <div class="style-title">{{aggregated_ability.style.name}}</div>
                            <div class="style-container">
                                {% for ability in aggregated_ability.abilities %}
                                    <div class="card-text-info-text">
                                        {% format_ability_text ability.ability_text.text %}
                                    </div>
                                {% endfor %}
                            </div>
                        </aside>
                    {% else %}
                        {% for ability in aggregated_ability.abilities %}
                            <div class="card-text-info-text">
                                {% format_ability_text ability.ability_text.text %}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="card-text-info-text">
                        {% format_ability_text ability.ability_text.text %}
                        {{ ability.special_style.identifier }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if not card.flavour == None %}
            <div class="card-text-info">
                <div class="card-text-info-title">
                    Flavour:
                </div>
                <div class="card-text-info-text less-important-text">
                    {{ card.flavour }}
                </div>
            </div>
        {% endif %}
        <div class="card-text-info">
            <div class="card-text-info-title">
                Set:
            </div>
            <div class="card-text-info-text">
                {% if set_name %}
                    <a href='/search?sets={{ set_code }}&form_type=advanced-form'>{{ set_name }} ({{set_code}})
                {% else %}
                    {{ set_code }}
                {% endif %}
                </a>
            </div>
        </div>
        <div class="card-text-info">
            <div class="card-text-info-title">
                ID:
            </div>
            <div class="card-text-info-text">
                {% format_id_text  card.card_id %}
            </div>
        </div>
        {% if card.rarity %}
            <div class="card-text-info">
                <div class="card-text-info-title">
                    Rarity:
                </div>
                <div class="card-text-info-text">
                    <a href='/search?rarity={{ card.rarity }}&form_type=advanced-form'>{{ card.rarity }}</a>
                </div>
            </div>
        {% endif %}
        {% if card.artists.all %}
            <div class="card-text-info">
                <div class="card-text-info-title">
                    Artist{{ card.artists.all|length|pluralize }}:
                </div>
                <div class="card-text-info-text">
                    {% for artist in card.artists.all %}
                        <a href='/search?artist={{ artist.name }}&form_type=advanced-form'>{{ artist.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if referred_by %}
            <div id="referred-by" class="card-text-info">
                <div class="referred-by-title">
                    This card is referenced by:
                </div>
                {% for card_referred_by in referred_by.distinct %}
                    <div class="referred-card">
                        <a href="{% card_id_to_url card_referred_by.card_id %}">
                            <div class="referenced-card">
                                {{ card_referred_by.name }}                                
                                {% if card_referred_by.card_image %}
                                    {% referenced_card_img_html card_referred_by %}
                                {% else %}
                                    Image Missing
                                {% endif %}                                
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if card.reprints %}
            <div class="card-text-info reprints">
                <div class="card-text-info-title">
                    Reprints:
                </div>
                {% for reprint in card.reprints %}
                    <div class="card-text-info-text">
                        <a href="{% url 'cardDatabase-view-card' card_id=reprint.card_id %}">{% set_code_to_name reprint.set_code %} ({{ reprint.set_code }})</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% with bans=card.bans combination_bans=card.combination_bans%}
            {% if bans or combination_bans %}
                <div class="card-text-info">
                    <div class="card-text-info-title banlist-title">Banlists:</div>
                    <div class="card-text-info-text">
                        {% for ban in bans %}
                            <div class="ban-container">
                                <img class="banned-icon" src="{% static 'img/banned-icon.svg' %}">
                                <div class="ban-text">{{ ban.card.name }} banned in {{ ban.format.name }}</div>
                            </div>
                        {% endfor %}
                        {% for combination_ban in combination_bans %}
                            <div class="ban-container">
                                <img class="banned-icon" src="{% static 'img/banned-icon.svg' %}">
                                <div class="ban-text">
                                    Combination ban -
                                    {% for card_data in combination_ban.cards.all %}
                                        {% if not forloop.counter0 == 0 %}& {% endif %}
                                        {% url 'cardDatabase-view-card' card_id=card_data.card_id as view_card_url %}
                                        {% include 'cardDatabase/html/referenced_card.html' with card_name=card_data.name card_img_url=card_data.card_image.url view_card_url=view_card_url %}
                                    {% endfor %} banned in {{ combination_ban.format.name }}.
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        {% if card.rulings %}
            <div class="card-text-info">
                <div class="judge-rulings-title card-text-info-title">
                    Rulings:
                </div>
                {% for ruling in card.rulings %}
                    <div class="ruling-container">
                        {% if ruling.company_confirmed %}
                            <div class="confirmation-icon-container">
                                <img class="company-confirmation-icon" src="{% static 'img/public-icon.png' %}">
                                <div class="tooltip-container">
                                    <span class="tooltip-hover">Confirmed by company officials</span>
                                </div>
                            </div>
                        {% endif %}
                        {% embed_text_with_card_urls ruling.text as processed_ruling %}
                        <div class="card-info-text judge-ruling">{% for text in processed_ruling %}{{ text }}{% endfor %}</div>
                        <div class="ruling-info">
                            - <a href="{% url 'cardDatabase-view-users-decklist' ruling.added_by.user.username %}">
                                {{ ruling.added_by.user.username }}
                            </a>, <div class="bold-ruling-text">{{ ruling.last_modified|date:"d M Y" }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if referred_decklists %}
            <div id="card-decklists" class="card-text-info">
                <div class="decklist-title card-text-info-title">Recent Decks: </div>
                {% for decklist in referred_decklists %}
                    <div class="decklist-link {% if forloop.counter > 4 %}hidden-decklist{% endif %}">
                        <a href="{% url 'cardDatabase-view-decklist' decklist.pk %}">
                            {{ decklist.name }}
                        </a> by <a href="{% url 'cardDatabase-view-users-decklist' decklist.profile.user.username %}">
                            {{ decklist.profile.user.username }}
                        </a>
                    </div>
                {% endfor %}
                {% if referred_decklists.count > 4 %}
                    <div id="expand-decklists"><button type="button">Show All</button></div>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>