{% extends 'cardDatabase/html/database_base.html' %}
{% load static card_database_tags %}
{% block subtitle %} - {{ decklist.name }}{% endblock %}

{% block use_default_submit %}false{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
        <link rel="stylesheet" href="{% static 'css/search_mobile.css' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/edit_decklist.css' %}">
{% endblock %}

{% block js %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    {{ block.super }}
    <script src="{% static 'js/search.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/edit_decklist.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <div id="database-container">
        {% block database %}
            {{ block.super }}
        {% endblock %}
    </div>
    <div id="decklist-container">
        {% csrf_token %}
        <span class="decklist-name" contenteditable="true">
            {{ decklist.name }}
        </span>
        <div class="deck-zones-container">
            {% for zone in zones %}
                <div class="deck-zone">
                    <div class="deck-zone-title-container">
                        <div class="zone-count"></div>
                        <span class="deck-zone-title" contenteditable="true">
                            {{ zone.zone.name }}
                        </span>
                        <div class="remove-zone"><span>&#10006;</span></div>
                    </div>
                    {# .deck-zone-cards is duplicated in the js in edit_decklist.js #}
                    <div class="deck-zone-cards">
                        {% for card in decklist_cards %}
                            {% if card.zone == zone %}
                                <div class="deck-zone-card" data-card-id="{{ card.card.card_id }}" draggable="true">
                                    <div class="card-quantity">
                                        <a href="#/" class="card-quantity-minus"><span>-</span></a>
                                        <input type="number" class="card-quantity-input" value="{{ card.quantity }}">
                                        <a href="#/" class="card-quantity-plus"><span>+</span></a>
                                    </div>
                                    {# Can't have whitespace around card name to match jquery #}
                                    <div class="deck-zone-card-name">{{ card.card.name }}{% referenced_card_img_html card.card %}</div>
                                    <div class="remove-card">&#10006;</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="comments-container">
            <div class="comments-title">
                Comments
            </div>
            <div class="deck-comments">
                {# Add the content without additional whitespace so the placeholder shows if no text is present. #}
                <textarea id="comments" placeholder="Add your comments here. Card names between [[ ]] will be linked automatically" maxlength="10000">{{ decklist.comments }}</textarea>
            </div>
        </div>
        <div id="deck-settings">
            <div class="settings-title">Settings</div>
            <div class="settings-container">
                <input id="public-input" type="checkbox" {% if decklist.public %}checked{% endif %}>
                <label for="public-input">Public</label>
            </div>
        </div>
        <div class="deck-actions">
            <button id="save-deck-button" type="button">Save</button>
            <a href="{% url 'cardDatabase-user-decklists' %}">
                <button type="button">Cancel</button>
            </a>
            <button id="new-zone-button" type="button">Add New Zone</button>
        </div>
    </div>
{% endblock %}
