{% extends 'cardDatabase/html/database_base.html' %}
{% load static %}
{% block subtitle %} - {{ decklist.name }}{% endblock %}

{% block use_default_submit %}false{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
        <link rel="stylesheet" href="{% static 'css/search_mobile.css' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/edit_decklist.css' %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/search.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/edit_decklist.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <div id="database-container">
        {% block database %}
            {{ block.super }}
        {% endblock %}
    </div>
    <div id="decklist-container">
        {% csrf_token %}
        <div class="decklist-name" contenteditable="true">
            {{ decklist.name }}
        </div>
        <div class="deck-zones-container">
        {% for zone in default_zones %}
            <div class="deck-zone">
                <div class="deck-zone-title" contenteditable="true">
                    {{ zone.name }}
                </div>
                {# .deck-zone-cards is duplicated in the js in edit_decklist.js #}
                <div class="deck-zone-cards">
                    {% for card in decklist_cards %}
                        {% if card.zone == zone %}
                            <div class="deck-zone-card" data-card-id="{{ card.card.card_id }}">
                                <div class="card-quantity">
                                    <a href="#" class="card-quantity-minus"><span>-</span></a>
                                    <input type="text" class="card-quantity-input" value="{{ card.quantity }}">
                                    <a href="#" class="card-quantity-plus"><span>+</span></a>
                                </div>
                                <div class="deck-zone-card-name">
                                    {{ card.card.name }}
                                    <img class="hover-card-img" src="{{ card.card.card_image.url }}">
                                </div>
                                <div class="remove-card">&#10006;</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="deck-actions">
            <button id="save-deck-button" type="button">Save</button>
            <a href="{% url 'cardDatabase-user-decklists' %}">
                <button type="button">Cancel</button>
            </a>
            <button id="new-zone-button" type="button">Add New Zone</button>
        </div>
    </div>
{% endblock %}
