{% extends 'cardDatabase/html/database_base.html' %}
{% load static card_database_tags %}
{% block subtitle %} - {{ decklist.name }}{% endblock %}

{% block use_default_submit %}false{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
        <link rel="stylesheet" href="{% static 'css/search_mobile.css' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/edit_decklist.css' %}">
{% endblock %}

{% block js %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    {{ block.super }}
    <script src="{% static 'js/search.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/edit_decklist.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <div id="database-container">
        {% block database %}
            {{ block.super }}
        {% endblock %}
    </div>
{% endblock %}
