{% extends 'cardDatabase/html/base.html' %}
{% load static card_database_tags %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/user_decklists.css' %}">
{% endblock %}

{% block body %}
    <div class="my-decklists">My Decklists</div>
    <div class="new-decklist">
        <a href="{% url 'cardDatabase-create-decklist' %}">
            <button type="button">
                <b>&plus;</b> Create New Deck
            </button>
        </a>
    </div>
    <div class="decklist-container">
        {% if decklists %}
            <table id="user-decklists">
                <tr>
                    <th>Deck Name</th>
                    <th>Color(s)</th>
                    <th>Number of cards</th>
                    <th>Last Modified</th>
                    <th>Delete Deck</th>
                </tr>
                {% for decklist in decklists %}
                    <tr>
                        <td><a href="{% url 'cardDatabase-edit-decklist' decklist.pk %}">{{ decklist.name }}</a></td>
                        <td>{% colours_to_imgs decklist.get_colours %}</td>
                        <td>{{ decklist.cards.all.count }}</td>
                        <td>{{ decklist.last_modified }}</td>
                        <td>&#10006;</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="no-decklists-title">
                No decklists available.
            </div>
        {% endif %}
    </div>
{% endblock %}