{% extends 'cardDatabase/html/base.html' %}
{% load static card_database_tags %}
{% block subtitle %} - {{ decklist.name }}{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/view_decklist.css' %}">
{% endblock %}

{% block ogtitle %}{{ decklist.name }} - Force of Wind{% endblock %}
{% block image_preview_url %}{% decklist_preview_img_url decklist %}{% endblock %}

{% block mobilecss %}
    {{ block.super }}
    {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
        <link rel="stylesheet" href="{% static 'css/view_decklist_mobile.css' %}">
    {% endif %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/view_decklist.js' %}" type="text/javascript"></script>

    {% comment %} External Libs {% endcomment %}
    <script src="{% static 'js/html2canvas/html2canvas.js' %}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.1/chart.umd.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2 " type="text/javascript"></script>

    <script src="{% static 'js/bootstrap/bootstrap.js' %}" type="text/javascript"></script>


    {% comment %} Internal Libs {% endcomment %}
    <script src="{% static 'js/view_decklist_testhand.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/view_decklist_statistics.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/view_decklist_restricted.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <div class="deck-view-container">
        <div id="image-container">
            <div class="deck-title">
                {{ decklist.name }}
            </div>
            <div class="deck-creator-name">
                by <a href="{% url 'cardDatabase-view-users-decklist' decklist.profile.user.username %}">{{ decklist.profile.user.username }}</a>
            </div>
            <div class="decklist-decklist-type">Format: {{decklist.deck_format.name}} </div>
            <input id="deck-id" hidden value="{{decklist.pk}}"/>
            {% if decklist.deck_lock %}
                <p class="disabled-edit">
                    <p>Deck locked. Edit disabled!</p>
                </p>
                <div class="last-edit">
                    <div> Last modified: </div><div class="localized-dt" data-localizable-dt="{% datetime_to_timestamp decklist.last_modified %}"></div>
                </div>
            {% endif %}
            {% for zone in zones %}
                <div class="deck-zone">
                    <div class="deck-zone-title">
                        {{ zone }}
                    </div>
                    <div class="deck-zone-count"></div>
                    {% if cards %}
                        <div class="deck-zone-card-container">
                            {% for card in cards %}
                                {% if card.zone.zone.name == zone %}
                                    {% with ''|center:card.quantity as range %}
                                        {% for _ in range %}
                                            <div class="deck-card">
                                                {% has_tags card as has_tags_flag %}
                                                <img class="deck-card-img" src="{{ card.card.card_image.url }}" title="{{ card.card.name }}" data-card-id="{{card.card.id}}" data-card-zone="{{zone}}">
                                                <div class="card-preview">
                                                    <div class="multi-hovered-img">
                                                        <img class="hover-card-img" src="{{ card.card.card_image.url }}">
                                                        {% for other_side in card.card.other_sides %}
                                                            <img class="hover-card-img" src="{{ other_side.card_image.url }}">
                                                        {% endfor %}
                                                    </div>
                                                    <div class="view-in-another-tab">
                                                        <a href="{% url 'cardDatabase-view-card' card.card.card_id %}" target="_blank">
                                                            Go to card
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endwith %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% if decklist.comments %}
            <div class="comments-container">
                <div class="comments-title">Comments</div>
                <div class="deck-comments">
                    {% embed_text_with_card_urls decklist.comments as processed_comment %}
                    {% for text in processed_comment %}{{ text }}{% endfor %}
                </div>
            </div>
        {% endif %}
        {% if ban_warnings|length > 0 or combination_ban_warnings|length > 0 %}
            <div id="ban-warnings">
                <div class="ban-title">Banlist</div>
                <div class="ban-content">
                    {% for banned_card_data in ban_warnings %}
                        <div class="banned-card">
                            <img class="banned-icon" src="{% static 'img/banned-icon.svg' %}">
                            <div class="ban-text">
                                {% include 'cardDatabase/html/referenced_card.html' with card_name=banned_card_data.card card_img_url=banned_card_data.card_img_url view_card_url=banned_card_data.view_card_url %}
                                in {{ banned_card_data.format }}
                            </div>
                        </div>
                    {% endfor %}
                    {% for banned_combination_card_data in combination_ban_warnings %}
                        <div class="banned-card">
                            <img class="banned-icon" src="{% static 'img/banned-icon.svg' %}">
                            <div class="ban-text">
                                Combination ban -
                                {% for card_data in banned_combination_card_data.cards %}
                                    {% if not forloop.counter0 == 0 %}& {% endif %}
                                    {% include 'cardDatabase/html/referenced_card.html' with card_name=card_data.name card_img_url=card_data.image_url view_card_url=card_data.view_card_url %}
                                {% endfor %} banned in {{ banned_combination_card_data.format }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div id="restriction-warnings" class="hide-restrictions restriction-wrapper">
            <div class="ban-title">Deck Restrictions</div>
            <img id="banned_icon" class="banned-icon hide-restrictions" src="{% static 'img/banned-icon.svg' %}">
        </div>
        <div id="deck-options">
            <br>
            {% if decklist.deck_lock %}
                <b>
                    <p>Deck locked. Edit disabled!</p>
                </b>
            {% endif %}
            
            {% if request.user == decklist.profile.user %}
                {% csrf_token %}
                
                {% if decklist.shareCode != '' %}
                    <label for="share-link">Share Link</label>
                    <input class="form-control" readonly id="share-link" value="{{ absoluteShareLink }}">
                    <input hidden id="share-code" value="{{ decklist.shareCode }}">
                    <br>
                    <button type="button" id="copy-share">Copy share link</button>
                    <button type="button" data-url="{% url 'cardDatabase-delete-share-code' decklist.pk %}" id="delete-share">Delete share link</button>
                {% endif %}

                {% if decklist.shareCode == '' and not decklist.public  %}
                    <button type="button" data-url="{% url 'cardDatabase-save-share-code' decklist.pk %}" id="create-share">Create share link</button>
                {% endif %}
                
                {% if not decklist.deck_lock %}
                    <button type="button" data-url="{% url 'cardDatabase-user-lock-decklist' decklist.pk %}" id="toggle-lock-decklist">Lock Decklist</button>
                {% elif deckLockUserManaged %}
                    <button type="button" data-url="{% url 'cardDatabase-user-unlock-decklist' decklist.pk %}" id="toggle-lock-decklist">Unlock Decklist</button>
                {% endif %}
                
                <br>

                {% if not decklist.deck_lock %}
                    <a href="{% get_edit_decklist_url decklist.pk request.user_agent %}">
                        <button type="button" id="edit-decklist">Edit Decklist</button>
                    </a>
                {% endif %}
            {% endif %}
            <button type="button" id="untap-export">Export to Untap</button>
            <a href="{% url 'cardDatabase-copy-decklist' decklist.pk %}"><button type="button" id="copy-decklist">Import to My Decklists</button></a>
            <button type="button" id="copy-image">Copy as Image</button>
            <div id="untap-list"><textarea>{% untap_list cards %}</textarea></div>
            <br>
        </div>
        {% if cards %}
            <br>
            <h2 class="deck-stats">Deck Statistics</h2>
            <button type="button" class="mb-2" data-toggle="collapse" data-target="#collapseStatZones" aria-expanded="false" aria-controls="collapseStatZones">
                Change zones for Statistics
            </button>
            <br>
            {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
                <div class="collapse mt-2 mb-2" id="collapseStatZones">
            {% else %}
                <div class="input-group collapse mt-2 mb-2" id="collapseStatZones">
            {% endif %}

                <select multiple class="custom-select" id="zones-select" aria-label="Statistics zone select">
                </select>
                <div class="input-group-append mt-2">
                    <button id="stats-zone-picker" class="ml-1" type="button">Change Zones for Stats</button>
                </div>
            </div>
            <div class="attribute-dist-wrapper" {% if request.user_agent.is_mobile or request.user_agent.is_tablet %} style="position: relative; width:99vw" {% endif %}>
                <h4>Attribute distribution in %</h4>
                <canvas id="attribute-dist-canvas" class="attribute-dist-canvas"></canvas>
            </div>
            <br>
            <h4>Card cost distribution</h4>
            <div class="mana-curve-wrapper" {% if request.user_agent.is_mobile or request.user_agent.is_tablet %} style="position: relative; width:96vw" {% endif %}>
                <canvas id="mana-curve-canvas" class="mana-curve-canvas"></canvas>
            </div>
            <hr>
            <h4>Sample starting hand</h4>
            <button type="button" class="mb-2" data-toggle="collapse" data-target="#collapseTestHand" aria-expanded="false" aria-controls="collapseTestHand">
                Change zones
            </button>

            {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
                <div class="collapse mt-2 mb-2" id="collapseTestHand">
            {% else %}
                <div class="input-group collapse mt-2 mb-2" id="collapseTestHand">
            {% endif %}

                <select multiple class="custom-select" id="draw-hand-zones-select" aria-label="Testhand zone select">
                </select>
                <div class="input-group-append mt-2">
                    <button id="test-hand-zone-picker" class="ml-1" type="button">Change Zones for Testhand</button>
                </div>
            </div>
            <div id="test-hand-card-container" class="test-hand-card-container" style="--container-width:100%;">
            </div>
            <div class="draw-testhand-actions">
                <button id="draw-card-button" class="draw-testhand-actions-button" type="button" >Draw card</button>
                <button id="reset-hand-button" class="draw-testhand-actions-button" type="button" >Redraw hand</button>
            </div>
            <script>
                function onlyUnique(value, index, array) {
                    return array.indexOf(value) === index;
                }

                const restrictions = {% dict_to_json deckRestrictions %};
                const cardsData = {% dict_to_json cardsData %};
                {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
                const mobile = true;
                {% else %}
                const mobile = false;
                {% endif %}
                let cards = JSON.parse('{% cards_to_json cards %}');
                const toggledZones = ['Main Deck', 'Main'];
                Chart.defaults.borderColor = 'gray';

                let zones = cards.map((card) => card.zone).filter(onlyUnique);

                $(function() {
                    zones.forEach((zone) => {
                        if(toggledZones.includes(zone))
                            $('#zones-select').append(`<option selected value="${zone}">${zone}</option>`);
                        else
                            $('#zones-select').append(`<option value="${zone}">${zone}</option>`);

                    });

                    initStatistics(
                        cards,
                        document.getElementById('attribute-dist-canvas'),
                        document.getElementById('mana-curve-canvas'),
                        '#stats-zone-picker',
                        '#zones-select',
                        mobile
                    );

                    const restrictionEngine = new RestrictionEngine();

                    restrictionEngine.initRestrictions(
                        $('#image-container'),
                        cardsData,
                        restrictions,
                        $('#restriction-warnings')
                    );

                    initTestHandModule(
                        cards,
                        zones,
                        '#draw-test-hand-button',
                        '#test-hand-card-container',
                        '#draw-card-button',
                        '#reset-hand-button',
                        '#test-hand-zone-picker',
                        '#draw-hand-zones-select',
                        toggledZones
                    )
                });
            </script>
        {% endif %}
        
    </div>
{% endblock %}
