{% extends 'cardDatabase/html/database_base.html' %}
{% load static card_database_tags %}

{% block title %}FoWind - {{ card.name }}{% endblock %}

{% block image_preview_url %}{{ card.card_image.url }}{% endblock %}

{% block adminoptions %}
    {{ block.super }}
    {% if user.profile.site_admin %}
        <a href="{% url 'admin:cardDatabase_card_change' card.pk %}">Edit Card</a>
    {% endif %}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/view_card.css' %}">
    {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
        <link rel="stylesheet" href="{% static 'css/view_card_mobile.css' %}">
    {% endif %}
{% endblock %}
{% block body %}
    {{ block.super }}
    {% include 'cardDatabase/html/card_details.html' with referred_by=card|card_referenced_by card=card %}
    {% for other_side in card.other_sides %}
        {% include 'cardDatabase/html/card_details.html' with referred_by=other_side|card_referenced_by card=other_side %}
    {% endfor %}
{% endblock %}