{% extends 'cardDatabase/html/base.html' %}
{% load static card_database_tags %}
{% block subtitle %} - Collection{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/view_decklist.css' %}">
{% endblock %}

{% block mobilecss %}
    {{ block.super }}
    {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
        <link rel="stylesheet" href="{% static 'css/view_decklist_mobile.css' %}">
    {% endif %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        let COLLECTION_SET_CODE = "{{ set_code }}";
    </script>
    <script src="{% static 'js/view_collection.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/html2canvas/html2canvas.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
{% endblock %}

{% block body %}
    {% csrf_token %}
    <button id="save-collection-button" type="button">Save</button>
    <table id="tableID" class="display" style="width:80%">
        <thead>
        <tr>
            <th>Quantity</th>
            <th>Name</th>
            <th>Set</th>
            <th>Set ID</th>
        </tr>
        </thead>
        <tbody>
            {% for card in cards.data %}
            <tr class="set-collection">
            <td><input class="card-quantity" type="number" id="points" name="points" step="1" value="{{ card.quantity }}"></td>
            <td>{{ card.name }}</td>
            <td>{{ card.set }}</td>
            <td class="card-id" data-card-id="{{card.id}}">{{ card.id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}