.btn-holder {
    width: 50px;
    height: 26px;
    border-radius: 18px;
    background-color: white;
    position: relative;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    border: 1px solid black;
    z-index: 51;
}
.darkmode-toggle-wrapper {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid black;
    padding: 12px 2px;
}

.btn-holder .btn-circle {
    background-color: black;
    transform: translateX(0px);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: 300ms;
}

.btn-holder .active {
    background-color: white;
    transform: translateX(20px);
    transition: 300ms;
}

.btn-holder .checkbox {
    display: none;
}

.btn-holder-active {
    background-color: #303134;
}