 /* header */

#header {
    background-color: #351543;
}

.site-header-logo a {
    text-decoration:none;
}

.fow-dropdown-content {
    background-color: #303134;
}

.fow-dropdown-content a{
    color: white;
}

.fow-dropdown-content a:hover{
    color: mediumpurple;
    background-color: #303134;
}

.fow-dropdown:hover .fow-dropbtn {
    background-color: #2f073f;
}

/* /header */

/* forms */

button {
    background-color: #303134;
    color: white;
    border: 1px solid;
    border-radius: 7px;
}

input[type=submit]{
    background-color: #303134;
    color: white;
    border: 1px solid;
    border-radius: 7px;
}

input[type=button]{
    background-color: #303134;
    color: white;
    border: 1px solid;
    border-radius: 7px;
}

input[type=text]{
    background-color: #303134;
    color: white;
    border: 1px solid white;
}

input[type=number]{
    background-color: #303134;
    color: white;
    border: 1px solid white;
}

input[type=password]{
    background-color: #303134;
    color: white;
    border: 1px solid white;
}

input[type=email]{
    background-color: #303134;
    color: white;
    border: 1px solid white;
}

textarea {
    background-color: #303134;
    color: white;
    border: 1px solid white;
}

dialog {
    background-color: #303134;
    color: white;
    z-index: 100;
    border: 1px solid black;
}

/* /forms */

/* search */

.divinity-value-wrapper {
    color:#0f5171
}

.cost-value-wrapper{
    color:#0f5171
}

.basic-showing #basic-search-toggle {
    border-bottom: 1px solid rgb(156, 155, 155) !important;
}

.advanced-showing #advanced-search-toggle {
    border-bottom: 1px solid rgb(156, 155, 155) !important;
}

.tooltip-icon{
    background-color: rgb(156, 155, 155);
    border-radius: 10px;
    opacity: 1;
}

.tooltip-content{
    color: black;
    opacity: 0.95;
}

.pagination .disabled-choice {
    color: white;
    border-radius: 5px;
    opacity: 0.7;
}

.pagination .pagination-page{
    border-radius: 5px;
    border:1px solid black;
    background-color: #303134;
}

.pagination-page.current-page{
    background: #351543;
}

.pagination a{
    border-radius: 5px;
    background-color: #303134;
}

.pagination-ellipsis{
    color: white;
}

#advanced-form .form-submit-button{
    background-color: #191d21;
}

body.hasHover #user-decklists tr:not(:first-child):hover{
    opacity: 0.6;
    background-color: unset;
}

input:checked + .selected-backgrounds {
    outline: 3px solid mediumpurple;
}

select{
    color: white;
    background-color: #303134;
}

.select-wrapper .select-dropdown {
    color: white;
    background-color: #303134;
}

.dropdown-content li:hover, .dropdown-content li.active {
    background-color: #351543;
}

.select-dropdown li.optgroup span{
    color:white;
}

.bubble-text{
    background-color: #303134;
    border-color: white;
}

/* /search */

/* deck builder */

.comments-container{
    border-bottom: 1px solid rgb(156, 155, 155);
}

.decklist-name{
    border-bottom: 1px solid rgb(156, 155, 155);
}

.deck-zone{
    border-bottom: 1px solid rgb(156, 155, 155);
}

.deck-info a{
    color: lightblue;
}

.deck-info a:hover{
    color: white;
}

.decklist-side-bar{
    background-color: #191d21;
}

.card-img {
    border-radius: 17px;
    opacity: 0.93;
}

img.hover-card-img.show-hover  {
    border-radius: 27px;
}


.card-left-half > .card-img {
    border-radius: 23px;
    opacity: 0.93;
    padding-bottom: 0;
}

img.deck-card-img{
    border-radius: 4px;
}

img.preview-deck-card-img {
    border-radius: 4px;
}

.cost-img{
    border: 1px solid black;
    border-radius: 17px;
}

.cost-img:not(:last-child) {
    padding-right: 0px;
}

.card-quantity-minus{
    background-color: #351543;
    color: white;
}

.card-quantity-plus{
    background-color: #351543;
    color: white;
}

.card-quantity-input {
    border-top: 2px solid #351543;
    border-bottom: 2px solid #351543;
    border-left: 1px solid #351543;
    border-right: 2px solid #351543;
    background: #303134;
    color: white;
}

.view-in-another-tab {
    border: 1px solid mediumpurple;
    background-color: #303134;
}

.view-in-another-tab a {
    color: white;
}

.add-card-side-bar {
    background-color: #303134;
}

.alertify-notifier .ajs-message.ajs-success {
    background: mediumpurple;
    color: white;
}

a.closebtn{
    color: mediumpurple;
}

/* /deck builder */

/* deck overview */

#decklist-container{
    border-left: 1px solid rgb(156, 155, 155);
}

#user-decklists {
    background-color: rgb(66,66,80, 0.6);
}

.deck-actions > div:hover {
    -webkit-filter: opacity(.2) drop-shadow(0 0 0 white);
    filter: opacity(.2) drop-shadow(0 0 0 white);
}

body.hasHover #user-decklists tr:not(:first-child):hover{
    opacity: 1;
    background-color: #351543;
}

.edit-icon {
    filter: invert(1);
}
.view-icon{
    filter: invert(1);
}
.share-icon{
    filter: invert(1);
}
.delete-icon{
    filter: invert(1);
}

/* /deck overview */

/* registration */

.registration-container{
    color:black
}

.register-title, .register-form-container {
    background-color: #303134;
    color: white;
}

.register-form-container {
    border-bottom: 2px solid #351543;
    border-left: 2px solid #351543;
    border-right: 2px solid #351543;
}

.register-title {
    border-top: 2px solid #351543;
    border-left: 2px solid #351543;
    border-right: 2px solid #351543;
}

/* /registration */

/* darkmode toggle */

.darkmode-toggle-label{
    color: white;
}

/* /darkmode toggle */

/* metrics */

.pick-title{
    background-color: #303134;
}

.pick-titles .pick-title.active-pick{
    background-color: #351543;
    color: white;
}

/* /metrics */