.edit-form input[type="checkbox"] {
    position: static;
    opacity: 1;
    pointer-events: all;
}

.numInput{
    color: #393939 !important;
    background-color: white !important;
    border: none !important;
}

.level-hint{
    font-weight: bold;
}