.btn:disabled{
    color:black !important;
}
.warn-text{
    color: darkorange;
}
.btn-warning{
    color:white;
}
.btn-warning:hover{
    color:white;
}

.search-group{
    display: flex;
}

.search-input{
    max-width: 200px;
}

.role-select{
    max-width: 150px;
}

.canvas-wrapper{
    max-height: 90vh;
}

.hidden {
    display:none;
}

.export-btn-group{
    display: flex;
    flex-direction: row;
    gap:9px;
}

.border-danger td {
  border: 2px solid #dc3545;
}