input {
    opacity: initial !important;
    position: initial !important;
}

label {
    margin-bottom: 0 !important;
}

:not(li, .form-check) > label {
    font-weight:bold;
}

#base-body{
    padding-bottom: 50px;
}

.import-wrapper{
    display:flex;
    border-bottom: 1px solid;
    margin-bottom: 12px;
    gap:10px;
    justify-content: center;
    flex-wrap: wrap;
}

.import-wrapper .import-card-select {
    margin-bottom: 10px;
}

.hidden {
    display:none;
}

.new-cards-only .old-card {
    display:none;
}

.missing-cards-only .existing-card {
    display:none;
}

.card {
    flex: 1 1 auto;
}

.card .card-header {
    font-weight:bold;
}

#add_card li {
    list-style: none;
}

#id_types {
    column-count: 2;
}