input {
    opacity: initial !important;
    position: initial !important;
}

label {
    margin-bottom: 0 !important;
}

#base-body{
    padding-bottom: 50px;
}

.import-wrapper{
    display:flex;
    border-bottom: 1px solid;
    margin-bottom: 12px;
    gap:10px;
    justify-content: center;
}

.import-wrapper .import-card-select {
    margin-bottom: 10px;
}

.hidden {
    display:none;
}

.new-cards-only .old-card {
    display:none;
}