body{
    margin: 0;
}

#header{
    width: 100%;
    height: 30px;
    background-color: #f1f1f1;
    margin-bottom: 30px;
    padding: 5px 0;
}

#site-title{
    display: inline-block;
    line-height: 10px;
    position: relative;
    bottom: 10px;
}

#site-icon{
    display: inline-block;
    height: 30px;
}

.header-content{
    margin: 0 auto;
    width: max-content;
}

.header-content a{
    text-decoration: none;
}

.discord{
    width: 30px;
    height: 30px;
}

#social-media{
    position: absolute;
    top: 5px;
    right: 5px;
}

#basic-form, #advanced-form{
    width: max-content;
    margin: 0 auto;
}

#advanced-search{
    display: none;
}

#search-toggles{
    width: max-content;
    margin: 0 auto;
    padding-bottom: 20px;
}

.search-toggle{
    display: inline-block;
    cursor: pointer;
}

#basic-search-toggle{
    margin-right: 50px;
}

.basic-showing #basic-search-toggle{
    border-bottom: 1px solid black;
    font-weight: bold;
}
.advanced-showing #advanced-search-toggle{
    border-bottom: 1px solid black;
    font-weight: bold;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

input[name="generic_text"]{
    display: block;
}