html, body{
    width: 100vw;
}

.search-toggle{
    font-size: 20px;
}

#basic-search, #advanced-search{
    padding-left: 20px;
    padding-right: 20px;
}

#basic-form, #advanced-form{
    width: calc(100% - 40px);
}

.sets-select{
    min-width: unset;
}

.atk-def-stats > div{
    display: flex
}

.atk-def-stats > div > .field-title{
    flex: 0 0 70px;
    min-width: 0;
}

.atk-def-stats > div > .stats-comparator{
    flex: 0 0 50px;
    min-width: 0;
}

.atk-def-stats > div > .stats-value{
    flex: 1 1 100px;
    min-width: 0;
}

.atk-inputs, .def-inputs{
    width: 100%;
}

.atk-inputs{
    padding-bottom: 12px;
}

.atk-def-stats input{
    max-width: 100%;
}

html.mobile .atk-def-input{
    display: block;
}

.sets-select button{
    margin-bottom: 12px;
}

#advanced-form .form-submit-button{
    width: 100%;
    display: block;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: white;
    border-top: 1px solid gray;
    z-index: 50;
}

#social-media, #user-options{
    padding-right: 10px;
}

#social-media {
    position: absolute;
    left: 0;
}

#social-media .fow-dropdown-content{
    left: 20px;
}