.no-search-results img, .no-search-results, #search-toggles, #basic-search #id_generic_text{
    max-width: 100%;
}

.form-submit-button{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100px;
    bottom: 0px;
    position: sticky;
}

#search-toggles{
    display: flex;
    gap: 20px;
    text-align: center;
}

#advanced-search-toggle{
    padding-right: 10px;
}

#basic-search-toggle{
    margin-left: 10px;
}

.atk-def-stats{
    border-bottom: none;
}

.tooltip-content{
    width: calc(100% - 40px);
    max-width: calc(100% - 40px);
}

.overflow-costs {
    width: 80vw;
    overflow: auto;
    white-space: nowrap;
    display: inline-block;
    max-width: -webkit-fill-available;
}