.decklists-container {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.decklist-result{
    max-width: 256px;
}

.decklist-search .form-submit-button{
    display: flex;
    justify-content: center;
    width: unset;
    padding-top: 0px;
    padding-bottom: 0px;
}