#database-container{
    width: 75%;
}

#decklist-container{
    position: fixed;
    overflow-y: auto;
    right: 0;
    top: 60px;
    height: calc(100% - 60px);
    width: 25%;
    padding-left: 10px;
    padding-bottom: 10px;
    border-left: 1px solid rgb(0 0 0 / 16%);
}

.deck-zone-title{
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    flex: 0 1 auto;
    min-width: 20px;
}

.deck-zone{
    padding-bottom: 30px;
}

.deck-zone-card-count{
    display: inline-block;
}

.deck-zone-card-name{
    display: inline-flex;
    flex: 1;
    padding-left: 10px;
    margin: auto 0;
}

#advanced-form{
    max-width: 100%;
    padding: 0 50px 0 30px;
}

.decklist-name{
    display: block;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 15px;
    margin-right: 10px;
    border-bottom: 1px solid rgb(0 0 0 / 16%);
}

.decklist-name:hover, .deck-zone-title:hover{
    background-color: rgba(0, 0, 0, 0.06);
}

.deck-zone, .comments-container, #deck-settings{
    border-bottom: 1px solid rgb(0 0 0 / 16%);
    margin-bottom: 5px;
}

.card-quantity{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.card-quantity-minus,
.card-quantity-plus {
    display: block;
    width: 22px;
    height: 23px;
    margin: 0;
    background: #dc0800;
    text-decoration: none;
    text-align: center;
    line-height: 23px;
}
.card-quantity-minus:hover,
.card-quantity-plus:hover {
    background: #575b71;
    color: #fff;
}
.card-quantity-minus {
    border-radius: 3px 0 0 3px;
}
.card-quantity-plus {
    border-radius: 0 3px 3px 0;
}
.card-quantity-input{
    width: 25px;
    height: 19px;
    margin: 0;
    padding: 0;
    text-align: center;
    border-top: 2px solid #dc0800;
    border-bottom: 2px solid #dc0800;
    border-left: 1px solid #dc0800;
    border-right: 2px solid #dc0800;
    background: #fff;
    color: #8184a1;
    box-sizing: initial;
    -moz-appearance: textfield;
}
.card-quantity-input::-webkit-outer-spin-button, .card-quantity-input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.card-quantity-minus:link,
.card-quantity-plus:link {
    color: #8184a1;
}
.card-quantity-minus:visited,
.card-quantity-plus:visited {
    color: #fff;
}

.deck-zone-card{
    padding-bottom: 2px;
    display: flex;
}

.hover-card-img{
    display: none;
}

.hover-card-img.show-hover{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    padding: 3px;
    background-color: black;
}

.card a{
    height: 100%;
    width: 100%;
    pointer-events: none;
    cursor: default;
}

.overlay-container{
    display: none;
}

.card:hover .overlay-container{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    z-index: 100;
}

.card-overlay{
    width: 100%;
    top:50%;
    transform: translateY(-50%);
    display: block;
    position: absolute;
}

.overlay-zone{
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
    background: black;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    pointer-events: auto;
}

.overlay-zone:not(:last-child){
    margin-bottom: 10px;
}

.overlay-zone-title{
    color: white;
}

.overlay-zone.view-card-link a{
    cursor: pointer;
}

.remove-card, .remove-zone{
    padding-right: 10px;
    padding-left: 5px;
    height: max-content;
    width: max-content;
    margin: auto 0;
    font-size: 20px;
}

.remove-zone{
    flex: 1 0 auto;
    text-align: right;
}

.remove-card:hover, .remove-zone span:hover{
    color: red;
    cursor: pointer;
}

.deck-zone-title-container{
    display: flex;
}

.deck-zone-cards{
    cursor: pointer;
}

.zone-count{
    font-weight: bold;
    padding-right: 5px;
}

.comments-title, .settings-title{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
}

#comments{
    width: 100%;
    min-height: 100px;
}

.deck-comments{
    width: 100%;
    padding-right: 5px;
}

.hover-card-img.show-hover:not(:last-child){
    padding-right: 0;
}

.multi-hovered-img{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    padding: 3px;
    max-width: 70%;
}

.multi-hovered-img .hover-card-img.show-hover{
    position: initial;
    transform: initial;
    flex: 1 1 auto;
    min-width: 0;
}

.multi-hovered-img.show-hover{
    display: flex;
}

.settings-container label, .settings-container input{
    display: inline-block;
}

.settings-container input[type="checkbox"]{
    position: static;
    opacity: 1;
    pointer-events: all;
}