.card-holder {
  margin-bottom: 30px;
}

.action-btn {
  width: 100%;
}

.actions-wrapper {
  flex-direction: column;
  width: max-content;
  margin: 0 auto 100px auto;
  gap: 15px;
}

.view-in-another-tab {
  top: calc(80%);
}