#base-body{
    width: 100%;
    padding: 0 7%;
}

.form-label{
    display: none;
}

.form-field:not(:first-child){
    padding-bottom: 10px;
}

.form-field-container:last-of-type{
    padding-bottom: 20px;
}

.field-help-text ul{
    padding-left: 10px;
}

.form-field-container{
    max-width: none;
}