.card{
    display: inline-block;
    padding: 0 0 5px 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.card:not(:last-child){
    padding-right: 5px;
}

.card-img{
    width: 300px;
}

#search-results{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.number-of-results{
    padding-bottom: 20px;
    flex: 0 0 100%;
}

.number-of-results-text{
    width: max-content;
    margin: 0 auto;
}

.number-of-results b{
    font-weight: bold;
}

.no-results-text{
    font-weight: bold;
    width: max-content;
    margin: 0 auto;
}

.no-search-results{
    width: max-content;
    margin: 0 auto;
    padding-top: 30px;
}

#other-pages{
    padding: 25px 0 40px 0;
    width: max-content;
    margin: 0 auto;
    line-height: 2.5;
    max-width: 100%;
}

#other-pages .pagination-page{
    padding: 0 7px;
}

#other-pages .current-page{
    background: #dc0800;
    color: white;
    border-radius: 5px;
}

#other-pages a, #other-pages > div{
    width: 40px;
    text-align: center;
    background-color: #ededed;
}

#other-pages a:hover:not(.active){
    background-color: #ddd;
    border-radius: 5px;
}