.card{
    display: inline-block;
}

.card-img{
    width: 300px;
}

#search-results{
    padding-top: 20px;
}

.number-of-results{
    width: max-content;
    margin: 0 auto;
    padding-bottom: 20px;
}

.number-of-results b{
    font-weight: bold;
}