#search-results{
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#search-results .card{
    flex-shrink: 0;
    flex-grow: 0;
}

#search-results .number-of-results{
    flex: 0 0 100%;
    text-align: center;
}

#basic-form{
    text-align: center;
}

.results-container{
    width:max-content;
    margin: 0 auto;
}