.card{
    display: inline-block;
    padding: 0 0 5px 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.card-img{
    width: 300px;
}

#search-results{
    padding-top: 20px;
}

.number-of-results{
    width: max-content;
    margin: 0 auto;
    padding-bottom: 20px;
}

.number-of-results b{
    font-weight: bold;
}

.no-results-text{
    font-weight: bold;
    width: max-content;
    margin: 0 auto;
}

.no-search-results{
    width: max-content;
    margin: 0 auto;
    padding-top: 30px;
}