#user-decklists{
    width: 100%;
}

.decklist-container{
    margin: 0;
    padding: 0 10px;
}

.my-decklists{
    padding-bottom: 20px;
}

.is-owner #user-decklists tr:nth-child(4n+0), .is-owner #user-decklists tr:nth-child(4n+1){
    background-color: #a9a9a924;
}

.is-owner #user-decklists tr:nth-child(4n+2), .is-owner #user-decklists tr:nth-child(4n+3){
    background-color: unset;
}

.is-owner #user-decklists tr:nth-child(odd) td, .is-owner #user-decklists tr:nth-child(odd) th{
    padding-bottom: 10px;
}

.not-owner #user-decklists tr:nth-child(4n+1){
    background-color: unset;
}

.not-owner #user-decklists tr:nth-child(4n+0){
    background-color: #a9a9a924;
}

.not-owner #user-decklists td, .not-owner #user-decklists th{
    padding-bottom: 10px;
}