.my-decklists{
    width: max-content;
    margin: 0 auto;
    font-size: 24px;
}

.decklist-container{
    margin: 0 100px 100px 100px;
}

.new-decklist{
    padding-left: 100px;
    padding-bottom: 50px;
}

#user-decklists{
    width: calc(100% - 200px);
}

.cost-img{
    height: 19px;
}

.cost-img:not(:last-child){
    padding-right: 5px;
}

#user-decklists th{
    font-weight: bold;
}


.deck-actions > div{
    display: inline-block;
}

.edit-icon{
    height: 23px;
}

.share-icon{
    height: 19px;
}

.delete-icon, .view-icon{
    height: 21px;
}

.deck-actions > div:hover{
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 red);
    filter: opacity(.5) drop-shadow(0 0 0 red);
    cursor: pointer;
}

.deck-actions > div:not(:first-child){
    padding-left: 10px;
}

#user-decklists tr:nth-child(even){
    background-color: #a9a9a924;
}

/* Exclude from mobile to prevent it from applying when navigating back, add hasHover on load */
body.hasHover #user-decklists tr:not(:first-child):hover{
    background-color: #a9a9a98c;
}

.public-icon, .private-icon{
    height: 18px;
}

.private-icon{
    filter: opacity(0.5) drop-shadow(0 0 0 red);
}