.deck-card{
    display: inline-block;
    flex: 0 0 auto;
}

.deck-card img{
    width: 60px;
}

.deck-view-container{
    width: 100%;
    padding-left: calc((100% - 650px) / 2);
    padding-right: calc((100% - 650px) / 2);
}

.deck-zone-title{
    font-weight: bold;
    font-size: 18px;
}

.deck-title{
    font-weight: bold;
    font-size: 24px;
}

.deck-creator-name{
    font-style: italic;
}

.deck-title, .deck-creator-name{
    display: inline-block;
}

.deck-zone:not(:last-child){
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(0 0 0 / 16%);
    margin-bottom: 5px;
}

.deck-zone-card-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 3px;
    row-gap: 3px;
}