.card-img{
    width: 480px;
    display: block;
    padding-bottom: 20px;
}

.cost-img{
    width: 18px;
}

.bubble-text{
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 5px;
}

.card-container{
    padding: 20px;
    display: block;
}

.card-img{

}

#referred-by{
    padding-top: 30px;
}

.referred-by-title{
    font-weight: bold;
}

.ability-rest-icon{
    width: 25px;
}

.hover-card-img{
    display: none;
}

.referenced-card{
    position: relative;
}

.hover-card-img.show-hover{
    display: block;
    position: absolute;
    top: -680px;
}

.card-left-half{
    width: max-content;
    display: inline-block;
}

.card-right-half{
    display: inline-block;
    width: calc(100% - 500px);
    position: absolute;
    padding-left: 20px;
}

.card-right-half > div{
    padding-bottom: 10px;
}

.card-text-info-title, .card-text-info-text{
    display: inline-block;
}

.card-text-info-title{
    font-weight: bold;
}

.card-text-info{
    border-bottom: 1px solid rgb(0 0 0 / 16%);
}

.card-text-info:not(:first-child){
    padding-top: 6px;
}