.card-img{
    margin: 0 auto;
    width: 50%;
    max-width: 400px;
    display: block;
}

.cost-img{
    width: 18px;
}

.bubble-text{
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 5px;
}

.card{
    padding: 20px;
}

.card-img{
    padding-bottom: 20px;
}

#referred-by{
    padding-top: 30px;
}

.referred-by-title{
    font-weight: bold;
}