.card-img{
    width: 480px;
    display: block;
    padding-bottom: 20px;
}

.cost-img{
    width: 18px;
}

.bubble-text{
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 5px;
}

.card-container{
    padding: 20px 0;
    display: block;
    width: 85%;
    max-width: 965px;
    margin: 0 auto;
}

.referred-by-title{
    font-weight: bold;
}

.ability-rest-icon{
    width: 25px;
}

.hover-card-img{
    display: none;
}

.referenced-card{
    position: relative;
}

.hover-card-img.show-hover{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    padding: 3px;
    background-color: black;
}

.hover-card-img.show-hover:not(:last-child){
    padding-right: 0;
}

.multi-hovered-img{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    padding: 3px;
    max-width: 70%;
}

.multi-hovered-img .hover-card-img.show-hover{
    position: initial;
    transform: initial;
    flex: 1 1 auto;
    min-width: 0;
}

.multi-hovered-img.show-hover{
    display: flex;
}

.card-left-half{
    width: max-content;
    display: inline-block;
}

.card-right-half{
    display: inline-block;
    padding-left: 20px;
    max-width: 480px;
    vertical-align: top;
}

.card-right-half > div{
    padding-bottom: 10px;
}

.card-text-info-title, .card-text-info-text{
    display: inline-block;
}

.card-text-info-title{
    font-weight: bold;
}

.card-text-info{
    border-bottom: 1px solid rgb(0 0 0 / 16%);
}

.card-text-info:not(:first-child){
    padding-top: 6px;
}

.ability-text .card-text-info-text{
    display: block;
}

.ability-text .card-text-info-text:not(:first-child){
    padding-top: 6px;
}

.less-important-text{
    font-style: italic;
}

.bold-ruling-text{
    display: inline-block;
    font-weight: 700;
}

.judge-ruling, .ruling-info{
    display: inline;
}

.ruling-container:not(:nth-child(2)){
    padding-top: 15px;
}

.company-confirmation-icon{
    height: 16px;
    position: relative;
    bottom: 2px;
}

.confirmation-icon-container{
    line-height: 24px;
    display: inline;
}

.tooltip-container{
    width: 0;
    height: 0;
    display: inline-block;
}

.confirmation-icon-container .tooltip-hover{
    display: none;
    position: relative;
    padding: 0 3px;
    width: max-content;
    bottom: 30px;
    right: 100px;
    background: #333;
    color: #fff;
    z-index: 10;
}

.confirmation-icon-container:hover .tooltip-hover{
    display: block;
}

.hidden-decklist{
    display: none;
}

#expand-decklists{
    cursor: pointer;

}

.banned-icon{
    width: 21px;
    padding-right: 3px;
}

.banned-icon, .ban-text{
    display: inline;
}

.banlist-title{
    display: block;
}

.reprints .card-text-info-text{
    display: block;
}