{% if edit %}
    {% if field.type == 'text' or field.type == 'link' %}
        <label for="{{field.name}}">{{field.label}}{% if field.required %}*{% endif %}</label>
        <input id="{{field.name}}" maxlength="{{field.maxlength}}" type="text" name="{{field.name}}" class="{{field.class}}" {% if field.required %}required{% endif %} {% if field.value %}value="{{field.value}}"{% endif %}/>
    {% endif %}
    {% if field.type == 'textarea' %}
        <label for="{{field.name}}">{{field.label}}{% if field.required %}*{% endif %}</label>
        <textarea id="{{field.name}}" maxlength="{{field.maxlength}}" name="{{field.name}}" class="{{field.class}}" {% if field.required %}required{% endif %}>{% if field.value %}{{field.value}}{% endif %}</textarea>
    {% endif %}
    {% if field.type == 'email' %}
        <label for="{{field.name}}">{{field.label}}{% if field.required %}*{% endif %}</label>
        <input id="{{field.name}}" type="email" name="{{field.name}}" class="{{field.class}}" {% if field.required %}required{% endif %} {% if field.value %}value="{{field.value}}"{% endif %} />
    {% endif %}
    {% if field.type == 'year' %}
        <label for="{{field.name}}">{{field.label}}{% if field.required %}*{% endif %}</label>
        <input id="{{field.name}}" name="{{field.name}}" type="number" min="1950" max="2099" step="1" class="{{field.class}}" {% if field.required %}required{% endif %} {% if field.value %} value="{{field.value}}"{% endif %}/>
    {% endif %}
{% else %}
    {% if field.type == 'text' or field.type == 'email' or field.type == 'year' %}
        <strong>{{field.label}}:</strong><span id="{{field.name}}" name="{{field.name}}"> {{field.value|escape}}</span></br>
    {% endif %}
    {% if field.type == 'textarea' %}
        <strong>{{field.label}}:</strong><p class="long-text" id="{{field.name}}"> {{field.value|linebreaksbr}}</p>
    {% endif %}
    {% if field.type == 'link' %}
        <strong>{{field.label}}:</strong><a id="{{field.name}}" href="{{field.value|escape}}" target="_blank" name="{{field.name}}"> {{field.value|escape}}</a></br>
    {% endif %}
{% endif %}