{% extends 'cardDatabase/html/base.html' %}
{% load static card_database_tags %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/bootstrap/mdb.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/tournament/tournament_list.css' %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script  src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
    <script  src="{% static 'js/tournament/tournament_list.js' %}"></script>
    <script  src="{% static 'js/date_localizer.js' %}"></script>
{% endblock %}

{% block body %}
    {% if request.user.is_authenticated %}
        <div class="new-tournament">
            <a href="{% url 'cardDatabase-new-tournament' %}">
                <button type="button">
                    <b>&plus;</b> Create Tournament
                </button>
            </a>
        </div>
    {% endif %}
    <div class="flex-center">
        <h2>Tournaments</h2>
    </div>
    <div class="flex-center mt-3">        
        <form id="tournament_form" method="get" action="{% url 'cardDatabase-tournament-list' %}">
            <input type="hidden" value="tournament-form" name="form_type">
            <div class="form-submit-button mb-3 flex-center">
                <input type="submit" value="Search">
            </div>
            <a href="#collapseOne" class="btn btn-outline-primary flex-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Toggle Filters
            </a>
            <div id="accordion">
                <div id="collapseOne" class="collapse {% if tournament_form_data.tournament_phase or tournament_form_data.tournament_format or tournament_form_data.tournament_level %}show{% endif %}" data-parent="#accordion">                    
                    <div class="fieldWrapper generic-text-input">
                        {{ tournament_form.tournament_phase.label_tag }}
                        {{ tournament_form.tournament_phase }}
                    </div>

                    <div class="fieldWrapper generic-text-input">
                        {{ tournament_form.tournament_format.label_tag }}
                        {{ tournament_form.tournament_format }}
                    </div>

                    <div class="fieldWrapper generic-text-input">
                        {{ tournament_form.tournament_level.label_tag }}
                        {{ tournament_form.tournament_level }}
                    </div>
                </div>
            </div>
        </form>        
    </div>
    <div class="container mt-5">
            {% if tournaments|length > 0 %}
                <div class="number-of-results flex-center mt-3">
                    <div class="number-of-results-text">
                        Showing <b>{{ tournaments|length }}</b> of <b>{{ total_count }}</b> results:
                    </div>
                </div>
                {% if tournaments.has_other_pages %}
                    {% comment %}
                    js sets the href of the <a> tags using data-page-index because it needs to maintain all the other query params
                    {% endcomment %}
                    <div id="other-pages-top" class="pagination">
                        <div class="pagination-content">
                            {% if tournaments.has_previous %}
                                <a data-page-index="{{ tournaments.previous_page_number }}">
                                    <div class="pagination-page valid-choice">
                                        &laquo;
                                    </div>
                                </a>
                            {% else %}
                                <div class="pagination-page disabled-choice">
                                    &laquo;
                                </div>
                            {% endif %}
                            {% for page_num in page_range %}
                                {% if page_num == tournaments.number %}
                                    <div class="pagination-page current-page">
                                        {{ page_num }}
                                    </div>
                                {% else %}
                                    {% if page_num == tournaments.paginator.ELLIPSIS %}
                                        <div class="pagination-page pagination-ellipsis">
                                            {{ page_num }}
                                        </div>
                                    {% else %}
                                        <a data-page-index="{{ page_num }}">
                                            <div class="pagination-page valid-choice">
                                                {{ page_num }}
                                            </div>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if tournaments.has_next %}
                                <a data-page-index="{{ tournaments.next_page_number }}">
                                    <div class="pagination-page valid-choice">
                                        &raquo;
                                    </div>
                                </a>
                            {% else %}
                                <div class="pagination-page disabled-choice">
                                    &raquo;
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                
                <div class="row">
                    {% for tournament in tournaments %}
                        <div class="col-md-4 mb-4 tournament">
                            <div class="card h-100 w-100 {{tournament.level.code}}">
                            <div class="card-body mh-80">
                                <h4 class="card-title tournament-title">{{ tournament.title }}</h4>
                                <p class="card-text tournament-text">
                                <strong>Format:</strong> {{ tournament.format }}<br>
                                <strong>Level:</strong> {{ tournament.level.title }}<br>
                                <strong>Tournament style:</strong> {% if tournament.is_online %}Online{% else %}In Person{% endif %}<br>
                                {% if tournament.phase == 'created' or tournament.phase == 'registration'%}
                                    <strong>Start Time:</strong> <span class="local-date-time" data-epoch="{% datetime_to_timestamp tournament.start_datetime %}"></span><br>
                                    <strong>Registration Deadline:</strong> <span class="local-date-time" data-epoch="{% datetime_to_timestamp tournament.registration_deadline %}"></span><br>
                                {% endif %}
                                <strong>Phase:</strong> {{ tournament.phase }}
                                </p>
                            </div>
                            <div class="card-footer text-right">
                                <a href="{% url 'cardDatabase-detail-tournament' tournament_id=tournament.pk %}" class="btn btn-sm btn-primary">View</a>
                            </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if tournaments.has_other_pages %}
                    <div id="other-pages-bottom" class="pagination"></div>
                {% endif %}
            {% else %}
                <div class="no-tournaments">
                    <div class="no-tournaments-text flex-center">
                        No Tournaments found
                    </div>
                    <img src="{% get_random_chibi 'sad' %}">
                </div>
            {% endif %}
        </div>
    
{% endblock %}