{% extends 'cardDatabase/html/base.html' %}
{% load static card_database_tags %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="{% static 'css/tournament/tournament_admin.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Tournament Management</h1>

        <input type="hidden" id="status" value="{{ tournament.phase }}">

        <!-- Current status display -->
        <h3 class="mt-4" id="currentStatus">Current Phase: {{ tournament.phase }}</h3>

        
        <div class="mt-4">
            <!-- Separate buttons for each status change -->
            <button class="btn btn-primary status-btn" {% if not staffAccount.role.can_write %} disabled {% endif %} id="createBtn" data-toggle="modal" data-target="#confirmModal">Start Registration</button>
            <button class="btn btn-primary status-btn" {% if not staffAccount.role.can_write %} disabled {% endif %} id="registrationBtn" data-toggle="modal" data-target="#confirmModal">Start Swiss</button>
            <button class="btn btn-primary status-btn" {% if not staffAccount.role.can_write %} disabled {% endif %} id="swissBtn" data-toggle="modal" data-target="#confirmModal">Start Tops</button>
            <button class="btn btn-primary status-btn" {% if not staffAccount.role.can_write %} disabled {% endif %} id="topsBtn" data-toggle="modal" data-target="#confirmModal">Complete Tournament</button>
        </div>
        {% if staffAccount.role.can_write %}
            <div class="mt-4">
                <button class="btn btn-danger" data-toggle="modal" data-target="#reset-phase-modal">Reset to inital Phase</button><br>
            </div>
        {% endif %}
    </div>

    <input type="hidden" id="csrfToken" value="{{ csrf_token }}">
    
    <input type="hidden" id="tournamentId" value="{{ tournament.pk }}">

    <input type="hidden" id="nextStatus" value="">

    <!-- Bootstrap Modal for confirmation -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirm Status Change</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to advance the tournament status to the next stage?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirmBtn">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap Modal for confirmation -->
    <div class="modal fade" id="reset-phase-modal" tabindex="-1" role="dialog" aria-labelledby="reset-phase-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reset-phase-modal-label">Confirm Phase Reset</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to reset the tournament to its first stage?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="reset-phase" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h3><b>Title:</b> {{ tournament.title }}</h3>
        <p><b>Start Time:</b> <span data-epoch="{% datetime_to_timestamp tournament.start_datetime %}" class="local-date-time"></span></p>
        <p><b>Registration End:</b> <span data-epoch="{% datetime_to_timestamp tournament.registration_deadline %}" class="local-date-time"></span></p>
        <p><b>Deck Edit End:</b> <span data-epoch="{% datetime_to_timestamp tournament.deck_edit_deadline %}" class="local-date-time"></span></p>
        <p><b>Format:</b> <span>{{ tournament.format.name}}</span></p>
        <p><b>Level:</b> <span>{{ tournament.level.title}}</span></p>
        <p><b>Tournament style:</b> <span>{% if tournament.is_online %}Online{% else %}In Person{% endif %}</span></p>
        <p><b>Decklist reveal status:</b> <span>{% if tournament.reveal_decklists %} <span class="warn-text">Revealed to all</span>{% else %} Hidden{% endif %}</span></p>
        <p><b>Deck Edit Lock:</b> <span>{% if deckEditLocked or overEditDeadline %} Locked{% else %} Open{% endif %}</span></p>
        <div class="row">
            {% if staffAccount.role.can_write %}
                <div class="col-sm-3">
                    {% if tournament.reveal_decklists == False %}
                        <button id="reveal-decklists-btn" class="btn btn-warning">Reveal Decklists to all</button><br>
                    {% else %}
                        <button id="hide-decklists-btn" class="btn btn-warning">Hide Decklists</button><br>
                    {% endif %}
                </div>
                {% if not overEditDeadline %}
                    <div class="col-sm-3">
                        {% if not deckEditLocked %}
                            <button id="lock-decklist-edit-btn" class="btn btn-warning">Lock Decklist edit</button><br>
                        {% else %}
                            <button id="unlock-decklist-edit-btn" class="btn btn-warning">Unlock Decklist edit</button><br>
                        {% endif %}
                    </div>
                {% endif %}
                    
                
                <div class="col-sm-2">
                    <a href="{% url 'cardDatabase-edit-tournament' tournament.id %}"><button class="btn btn-primary">Edit Tournament</button></a>
                </div>
            {% endif %}
        </div>
    </div>
    
    <div class="container mt-5">
        <hr>
        <h2>Registered Players</h2>

        <button class="btn btn-info mb-3" onclick="fetchPlayersFromAPI()">
            <i class="fas fa-sync-alt"></i> Refresh Players
        </button>
    
        <button id="savePlayersBtn" class="btn btn-success mb-3" {% if not staffAccount.role.can_write %} disabled {% endif %} onclick="savePlayersToAPI()">Save Players</button>
        <input id="decklist_detail_url_base" hidden value="{% url 'cardDatabase-view-decklist-share' decklist_id=0 share_parameter='changeMe' %}"/>
        <div class="row" id="playerList">
            
        </div>
        <div class="modal fade" id="playerRemoveModal" tabindex="-1" role="dialog" aria-labelledby="playerRemoveModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="playerRemoveModalLabel">Remove Player from Tournament</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Remove player <strong id="remove-player-name"></strong> from tournament?
                    <input id="remove-player-id" hidden></input>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="remove-player-btn" data-dismiss="modal" type="button" class="btn btn-danger">Remove</button>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <br>
    <h4>Ruler breakdown</h4>
    <br>
    <div id='ruler-breakdown' {% if request.user_agent.is_mobile or request.user_agent.is_tablet %} style="position: relative; width:99vw" {% endif %}>
        <canvas id="ruler-breakdown-canvas" class="attribute-dist-canvas"></canvas>
    </div>
    <button id="ruler-export-btn" data-toggle="modal" data-target="#rulerModal" class="d-none btn btn-primary mb-5">Export Breakdown</button>
    <div class="modal fade" id="rulerModal" tabindex="-1" role="dialog" aria-labelledby="rulerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rulerModalLabel">Ruler Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea id="ruler-breakdown-textarea" readonly class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    

    {% if staffAccount.role.can_delete %}
        <hr>
        <div class="container">
            <h2>Staff Control</h2>
            <span id="staff-error" class="d-none badge badge-danger"></span>
            <div class="search-group mt-3">
                <input id="staff-name-search" class="mr-3 form-control search-input" placeholder="Username"/>
                <select id="staff-role-select" class="mr-3 form-control role-select">
                    <option value="-1" selected disabled>Choose Role</option>
                    {% for role in staffRoles %}
                        <option value="{{role.pk}}">{{role.title}}</option>
                    {% endfor %}
                </select>
                <button id="staff-add-btn" class="btn btn-primary">Add User</button>
            </div>
            <table class="table table-bordered table-striped mt-3">
                <thead class="thead-light">
                    <tr>
                        <th>Username</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for staff in tournamentStaff %}
                        <tr>
                            <td>{{ staff.profile.user.username }}</td>
                            <td>{{ staff.role.title }}</td>
                            {% if not staff.role.can_delete %}
                                <td><button id="staff-remove-btn" class="btn btn-danger" data-id="{{staff.pk}}">Remove</button></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <div class="container mb-5">
            <button class="btn btn-danger" id="deleteBtn" data-toggle="modal" data-target="#deleteModal">Delete Tournament</button>
        </div>
    {% endif %}
    

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Tournament</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this tournament?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="{% url 'cardDatabase-delete-tournament' tournament.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        window.rulers = {% dict_to_json rulerExport %};
        window.can_write = {% if staffAccount.role.can_write %} true{% else %}false{% endif %};
        window.can_delete = {% if staffAccount.role.can_delete %} true{% else %}false{% endif %};
    </script>
    <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

    <script src="{% static 'js/tournament/admin/players.js' %}"></script>
    <script src="{% static 'js/tournament/admin/status.js' %}"></script>
    <script src="{% static 'js/tournament/admin/stats.js' %}"></script>
    {% if staffAccount.role.can_delete %}
        <script src="{% static 'js/tournament/admin/staff.js' %}"></script>
    {% endif %}
{% endblock %}